
<!DOCTYPE html>
<html>
<body style="background-color:#79cb3200">



{% include 'admin/admin_navbar.html' %}


<table class="table table-hover container" style="color:rgb(185, 50, 50);">
    <thead>
        <tr>
            <th> Image </th>
            <th> ID </th>
            <th> Name </th>
            <th> Address </th>
            <th> Contact_no </th>
            <th> Status</th>
            <th> Gender </th>
            <th> Ratting </th>
            <th> Action </th>
            

        </tr>
    </thead>

    <tbody>
    {% for i in delivery_man %}
 <tr> 
    <td><img src = "{{i.image.url }}" style = "width:150px ; height : 150px; border-radius: 7%"></td>
    <td>{{i.id}}</td>
    <td>{{i.user.first_name}}{{i.user.last_name}}</td>
    <td>{{i.address }}</td>
    <td>{{i.contact_no }}</td>
    <td>{{i.status }}</td>
    <td>{{i.gender }}</td>
    <td>{{i.ratting }}</td>
    <td> <a href="{% url 'customers:edit_delivery_man_profile' %}"class="btn btn-outline-warning"> Edit Profile </a> <a href="{% url 'customers:view_all_delivery_man_lists' %}"class="btn btn-outline-success"> Back </a></td>
   

{%endfor%}
</tr>
</table>

</body>
</html>

