{% include 'delivery_man/delivery_man_header.html' %}
{% load static %}

<div class="container">
    <p>Manage All Delivery Requests Details</p>
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Title</th>
                <th scope="col">Customer</th>
                <th scope="col">Restaurant Name</th>
                <th scope="col">Quantity</th>
                <th scope="col">Customer Address</th>
                <th scope="col">Order Date</th>
                <th scope="col">Delivery Date</th>
                <th scope="col">Order Status</th>
                <th scope="col"> <span class="ml-2">Update Order Status</span> </th>
                
            </tr>
        </thead>
        <tbody>

            {% for i in all_requests %}
            <tr>
                <th cope="row">{{forloop.counter}}</th>
                <td>{{i.title}}</td>
                <td>{{i.user}}</td>
                <td>{{i.restaurant}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.address}}</td>
                <td>{{i.ordered_date}}</td>
                <td>{{i.delivery_date}}</td>
                <td>{{i.status}}</td>
                <td><a href="{% url 'customers:all_delivery_requests' %}" class="btn btn-sm btn-outline-primary" onclick="return confirm('Are You Sure?')">Accept Order</a>
                <a href="{% url 'customers:all_delivery_requests' %}" class="btn btn-outline-success" onclick="return confirm('Are You Sure?')">Delivered</a></td>
                

            </tr>
            {% endfor %}

        </tbody>
    </table>
</div>


