{% include 'restaurants/restaurants_header.html' %}
{% load static %}
<div class="container">
    <div class="title">
        <div class="row">
            <div class="col">
                <h4 class="text-secondary"><b>Pending Orders</b></h4>
            </div>
        </div>
    </div>


    {% if pending_order %}
    <div class="p-4">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th scope="col">No</th>
                    <th scope="col">Order ID</th>
                    <th>Customer's Name</th>
                    <th>Order/Deliver Date</th>
                    <th>
                        Status
                    </th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                <form method="POST">
                    {% csrf_token %}
                    {% for i in active_order %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <th># {{ i.rand_order_id }}</th>
                        <td>{{ i.first_name }} {{ i.last_name }}</td>
                        <td>{{ i.ordered_date }}</td>
                        <td>
                            <form action="" method="post">
                                <div class="row">
                                    <div class="col-md-5">
                                        <!-- Example single danger button -->
                                        <div class="btn-group">
                                            <button type="button" class="btn btn-sm btn-primary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="True">
                                                {{ i.status }}
                                            </button>
                                            <div class="dropdown-menu">
                                            <a class="dropdown-item selected" href="{% url 'customers:restaurant_pending_order_status' i.rand_order_id 'Pending' %}">Pending</a>
                                            <a class="dropdown-item" href="{% url 'customers:restaurant_pending_order_status' i.rand_order_id 'Packed' %}">Packed</a>
                                            <a class="dropdown-item" href="{% url 'customers:restaurant_pending_order_status' i.rand_order_id 'On The Way' %}">On The Way</a>
                                            <a class="dropdown-item" href="{% url 'customers:restaurant_pending_order_status' i.rand_order_id 'Delivered' %}">Delivered</a>
                                            <a class="dropdown-item" href="{% url 'customers:restaurant_pending_order_status' i.rand_order_id 'Cancelled' %}">Cancelled</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </form>
                        </td>
                        <td>
                            <a href="{% url 'customers:restaurants_order_details' i.rand_order_id %}"
                                class="btn btn-sm btn-primary">View</a> 
                        </td>
                    </tr>
                    {% endfor %}
                </form>
            </tbody>
        </table>
    </div>
    {% endif %}


    {% if pending_order == 0 %}
    <p>You haven't order yet.</p>
    {% endif %}
</div>


{% include 'restaurants/restaurants_footer.html' %}