{% include 'restaurants/restaurants_header.html' %}
{% load static %}



<script>
    function checkpass() {
        if (document.changepassword.newpassword.value != document.changepassword.confirmpassword) {
            alert('New Password and Confirm Password field does not match!');
            document.changepassword.confirmpassword.focus();
            return false;
        } else {
            return true;
        }
    }
</script>



<section>
    <div class="container py-5">
      <div class="row d-flex justify-content-center align-items-center">
        <div class="col-12 col-md-8 col-lg-6 col-xl-5">
          <div class="card shadow-2-strong" style="border-radius: 1rem;">
            <div class="card-body p-5 text-center">
  
              <form action="" name="changepassword" method="post">
                {% csrf_token %}
                <div class="form-outline mb-4">
                  <input type="password" name="currentpassword" class="form-control form-control" placeholder="Current Password" required/>
                </div>
  
                <div class="form-outline mb-4">
                  <input type="password" name="newpassword" class="form-control form-control"
                    placeholder="New Password" required/>
                </div>

                <div class="form-outline mb-4">
                    <input type="password" name="confirmpassword" class="form-control form-control"
                      placeholder="Confirm New Password" required/>
                  </div>
  
                <button class="btn btn-primary btn-lg btn-block" type="submit">Login</button>
  
              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

{% include 'restaurants/restaurants_footer.html' %}


{% if error == 'no' %} 
<script>
    alert('Your Password Updated Successfully');
    window.location = ( '{% url "restaurants:restaurants_home" %}' )
</script>
{% endif %}
    

{% if error == 'yes' %} 
<script>
    alert('Something Went Wrong, Please Try Again.....');
</script>
{% endif %}
