{% include 'customers/customer_header.html' %}
{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
<link rel="stylesheet" href="{% static 'customers/css/style.default.css' %}">


<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>

<div id="all">
    <div id="content">
        <div class="container">
        <div class="row">
            <div id="checkout" class="col-lg-8">
            <div class="box">
                <form method="POST" action="{% url 'customers:customer_order_successfull' %}">
                {% csrf_token %}
                <h1>Checkout - Order review</h1>
                <div class="nav flex-column flex-sm-row nav-pills">
                    <a href="{% url 'customers:customer_checkout_address' %}" style="color: #4fbfa8;" class="nav-link text-sm-center"> <i class="fa fa-map-marker"></i>Address</a>

                    <a href="{% url 'customers:customer_payment_method' %}" style="color: #4fbfa8;" class="nav-link flex-sm-fill text-sm-center"> <i class="fa-solid fa-money-bill-1"></i>Payment Method</a>
                    
                    <a href="#" class="nav-link flex-sm-fill text-sm-center active"> <i class="fa fa-eye"></i>Order Review</a>
                </div>
                <div class="content">
                    <div class="table-responsive">
                    <table class="table">
                        <thead>
                        <tr>
                            <th colspan="2">Product</th>
                            <th>Quantity</th>
                            <th>Unit price</th>
                            <th>Discount</th>
                            <th>Total</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for cart in cart_items %}
                        <tr>
                            <td>
                                <a href="#">
                                    <img src="{{ cart.post.image.url }}">
                                </a>
                            </td>
                            <td>
                                <a href="#">{{ cart.title }}</a>
                            </td>
                            <td>{{ cart.quantity }}</td>
                            <td>&#2547; {{ cart.post.new_price }}</td>
                            <td>&#2547; 0.00</td>
                            <td>&#2547; {{ cart.total_sub_price }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                        <tfoot>
                        <tr>
                            <th colspan="5">Total</th>
                            <th>&#2547; {{ price }}</th>
                        </tr>
                        </tfoot>
                    </table>
                    </div>
                    <!-- /.table-responsive-->
                </div>

                <input type="text" name="firstname" hidden value={{ fName }}>
                <input type="text" name="lastname" hidden value={{ lName }}>
                <input type="text" name="address" hidden value={{ address }}>
                <input type="text" name="phone" hidden value={{ phone }}>
                <input type="text" name="payment" hidden value={{ payment }}>
                <!-- /.content-->
                <div class="box-footer d-flex justify-content-between"><a href="{% url 'customers:customer_payment_method' %}" class="btn btn-outline-secondary"><i class="fa-solid fa-circle-left"></i> Back to payment method</a>
                    <button type="submit" class="btn btn-primary">Place an order <i class="fa-solid fa-circle-right"></i></button>
                </div>
                </form>
            </div>
            <!-- /.box-->
            </div>
            <!-- /.col-lg-9-->
            <div class="col-lg-4">
            <div id="order-summary" class="card">
                <div class="card-header">
                <h3 class="mt-4 mb-4">Order summary</h3>
                </div>
                <div class="card-body">
                <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                <div class="table-responsive">
                    <table class="table">
                    <tbody>
                        <tr>
                        <td>Order subtotal</td>
                        <th>&#2547; {{ price }}</th>
                        </tr>
                        <tr>
                        <td>Shipping and handling</td>
                        <th>&#2547; 60.00</th>
                        </tr>
                        <tr>
                        <tr class="total">
                        <td>Total</td>
                        <th>&#2547; {{ total_price }}</th>
                        </tr>
                    </tbody>
                    </table>
                </div>
                </div>
            </div>
            </div>
            <!-- /.col-lg-3-->
        </div>
        </div>
    </div>
</div>


{% include 'customers/customer_footer.html' %}
