{% include 'customers/customer_header.html' %}
{% load static %}

<div class="container-sm">
    <div class="row">

        <div class="title">
            <div class="row">
                <div class="col">
                    <h4 class="text-secondary"><b>Active Order</b></h4>
                </div>
            </div>
        </div>
        {% if size %}
        <div class="p-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Food Name</th>
                        <th scope="col">Ordered Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in orders %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.title }}</td>
                        <td>{{ i.ordered_date }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.post.new_price }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4">Total: (without delivery charge) </th>
                        <th>{{ total_amount }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

        
        {% if size == 0 %}
        <p>No active order is available!</p>
        {% endif %}
            
        <br>
        <div class="title">
            <div class="row">
                <div class="col">
                    <h4 class="text-secondary"><b>Past Order</b></h4>
                </div>
            </div>
        </div>
        
        {% if past_order %}
        <div class="p-4">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Food Name</th>
                        <th scope="col">Ordered Date</th>
                        <th scope="col">Status</th>
                        <th scope="col">Price</th>
                    </tr>
                </thead>
                <tbody>
                    {% for i in prev_order %}
                    <tr>
                        <th scope="row">{{ forloop.counter }}</th>
                        <td>{{ i.title }}</td>
                        <td>{{ i.ordered_date }}</td>
                        <td>{{ i.status }}</td>
                        <td>{{ i.post.new_price }}</td>
                    </tr>
                    {% endfor %}
                    <tr>
                        <th colspan="4">Total: (without delivery charge) </th>
                        <th>{{ prev_total }}</th>
                    </tr>
                </tbody>
            </table>
        </div>
        {% endif %}

        
        {% if past_order == 0 %}
            <p>You haven't order yet.</p>
        {% endif %}
    </div>
</div>





{% include 'customers/customer_footer.html' %}

