{% load static %}
{% include 'customers/customer_header.html' %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">

<link rel="stylesheet" href="{% static 'customers/css/style.default.css' %}">



<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


{% if total_items == 0 %}
<div class="container">
    {% include 'customers/messages.html' %}
    <div class="row">
        <p>You haven't select any items yet.</p>
    </div>
</div>
{% endif %}


{% if total_items %}
<div id="all">
    <div id="content">
      <div class="container">
        <div class="row">
          <div id="basket" class="col-lg-8">
            <div class="box">
              <form method="post" action=" {% url 'customers:customer_checkout_address' %}">
                {% csrf_token %}
                <h1>Shopping cart</h1>
                <p class="text-muted">You currently have {{ cart }} item(s) in your cart.</p>
                <div class="table-responsive">
                  <table class="table">
                    <thead>
                      <tr>
                        <th colspan="2">Product</th>
                        <th>Quantity</th>
                        <th>Unit price</th>
                        <th>Discount</th>
                        <th colspan="2">Total</th>
                      </tr>
                    </thead>
                    {% for i in cart_items %}
                    <tbody class="p-4">
                      <tr>
                        <td>
                            <a href="#">
                                <img style="width: 60px; height: 50px;" src="{{ i.post.image.url }}">
                            </a>
                        </td>
                        <td><a href="#">{{ i.post.title }}</a></td>


                        <td class="col">
                            {% if i.quantity <= 1 %}
                            <a style="cursor: default;" href="javascript:void(0)">-</a>
                            {% else %}
                            <a href="{% url 'customers:item_decrease' i.id %}">-</a>
                            {% endif %}
                                
                            <span style="padding: 0px 5px 0px 5px;" class="border">{{ i.quantity }}
                            </span>
                            <a href="{% url 'customers:item_increase' i.id %}">+</a> 
                        </td>

                        <td>{{ i.post.new_price }}</td>
                        <td>&#2547; 0.00</td>
                        <td>{{ i.total_sub_price }}</td>
                        <td>
                            <a href="{% url 'customers:customer_delete_cart_item' i.id %}" class="delete">
                                <i class="fa fa-trash text-secondary"></i>
                            </a>
                        </td>
                      </tr>
                    </tbody>
                    {% endfor %}
                    <tfoot>
                      <tr>
                        <th colspan="5">Total</th>
                        <th colspan="2">{{ price }}</th>
                      </tr>
                    </tfoot>
                  </table>
                </div>

                
                <div class="box-footer d-flex justify-content-between flex-column flex-lg-row">
                  <div class="left"><a href="{% url 'customers:customer_all_post' %}" class="btn btn-outline-secondary"><i class="fa fa-chevron-left"></i> Continue shopping</a></div>

                  <div class="right">
                    <button type="submit" class="btn btn-primary">Proceed to checkout <i class="fa fa-chevron-right"></i></button>
                  </div>
                </div>
              </form>
            </div>
          </div>


          <div class="col-lg-4">
            <div id="order-summary" class="box">
              <div class="box-header">
                <h3 class="mb-0">Order summary</h3>
              </div>
              <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
              <div class="table-responsive">
                <table class="table">
                  <tbody>
                    <tr>
                      <td>Order subtotal</td>
                      <th>&#2547; {{ price }}</th>
                    </tr>
                    <tr>
                      <td>Shipping and handling</td>
                      <th>&#2547; 60.00 </th>
                    </tr>
                    <tr class="total">
                      <td>Total</td>
                      <th>&#2547; {{ total_price }}</th>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

{% endif %}





{% include 'customers/customer_footer.html' %}



<script>
    $(".delete").click(function (e) {
        console.log("Pressed");
        var self = $(this);
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "Delete this item from cart?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Your post has been deleted successfully", {
                        icon: "success",
                    }).then((value) => {
                        location.href = self.attr('href');
                    });
                }
            });
    });
</script>