{% include 'customers/customer_header.html' %} 
{% load static %}

<div class="container">
    <table class="table">
        <thead>
            <tr>
                <th scope="col">No.</th>
                <th scope="col">Foundation Name</th>
                <th scope="col">Preferable Area</th>
                <th scope="col">Quantity</th>
                <th scope="col">Contact</th>
                <th scope="col">Last Date of Donation</th>
                <th scope="col">Status</th>
                <th colspan="2" class="text-center"> <span style="margin-left: -55px;">Action</span> </th> 
            </tr>
        </thead>
        <tbody>
            {% for i in post %}
            <tr>
                <td cope="row">{{forloop.counter}}</td>
                <td>{{i.title}}</td>
                <td>{{i.area}}</td>
                <td>{{i.quantity}}</td>
                <td>{{i.contact}}</td>
                <td>{{i.end_date}}</td>
                <td>{{i.status}}</td>
                <td>
                    <a href="{% url 'customers:customer_edit_donate_post' i.id %}" class="btn btn-success btn-sm">Edit
                    </a>
                </td>
                <td>
                    <a href="{% url 'customers:accept_post' i.id %}" class="btn btn-danger btn-sm">Delete
                    </a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>

{% include 'customers/customer_footer.html' %}
