{% include 'customers/customer_header.html' %}
{% load static %}

<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">
<link rel="stylesheet" href="{% static 'customers/css/style.default.css' %}">


<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>



<div id="all">
    <div id="content">
      <div class="container">
        <div class="row">

          <div id="customer-orders" class="col-lg-10" style="margin: 0 auto">
            <div class="box">
              <h1>My orders</h1>
              <p class="lead">Your orders on one place.</p>
              <p class="text-muted">If you have any questions, please feel free to <a href="contact.html">contact us</a>, our customer service center is working for you 24/7.</p>
              <hr>

              <div class="table-responsive">
                <table class="table table-hover">
                  <thead>
                    <tr>
                      <th>Order</th>
                      <th>Name</th>
                      <th>Date</th>
                      <th>Action</th>
                    </tr>
                  </thead>
                  <tbody>
                    {% for order in orders %}
                    <tr>
                      <th># {{ order.rand_order_id }}</th>
                      <th>{{ order.first_name }} {{ order.last_name }}</th>
                      <td>{{ order.ordered_date }}</td>
                      <td><a href="{% url 'customers:customer_order_details' order.rand_order_id %}" class="btn btn-primary btn-sm">View</a></td>
                    </tr>
                    {% endfor %}
                  </tbody>
                </table>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>



{% include 'customers/customer_footer.html' %}

