{% include 'customers/customer_header.html' %} 
{% load static %}


<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-fQybjgWLrvvRgtW6bFlB7jaZrFsaBXjsOMm/tB9LTS58ONXgqbR9W8oWht/amnpF" crossorigin="anonymous"></script>

<link href="{% static 'customers/css/style.css' %}" rel="stylesheet">
<link href="{% static 'customers/css/bootstrap.min.css' %}" rel="stylesheet">



<div class="container">
    <div id="details"></div>
    
    <div class="modal fade" id="mymodel">
        <div class="modal-dialog modal-dialog-centered">
            <div class="modal-content">
                <div class="modal-header">
                    <h4>Edit Info</h4>
                    <button class="close" data-dismiss="modal">&times;</button>
                </div>

                <div class="modal-body">
                    <form action="." role="form" method="GET" id="formdata">
                        {% csrf_token %}
                        <input type="text" name="id" id="form_id" class="form-control" hidden>

                        <div class="form-group">
                            <label>Item Name </label>
                            <input type="text" name="title" id="title" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Description </label>
                            <textarea type="text" name="description" id="description" class="form-control" required></textarea>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Preferable Area</label>
                            <input type="text" name="area" id="area" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Quantity</label>
                            <input type="text" name="quantity" id="quantity" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>Contact</label>
                            <input type="text" name="contact" id="contact" class="form-control" required>
                        </div>
                        <br>
                        <div class="form-group">
                            <label>End Date</label>
                            <input type="date" name="end_date" id="end_date" class="form-control" required>
                        </div>
                        <div class="modal-footer justify-content-center">
                            <input onclick="submitForm(this.form)" class="btn btn-primary" value="Update" data-dismiss="modal">
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>


{% include 'customers/customer_footer.html' %}


<script>

    let btn = document.querySelector("#getBtnData");

    function getData () {
        let xmlhttp = new XMLHttpRequest();

        fetch('http://127.0.0.1:8000/ajax_get_view')
        .then(response => response.json()).then(myObj => {
                let doc = document.querySelector("#details");

                let  tag1 = "<div class='container'><table class='table'>";
                tag1 += "<thead>";
                tag1 += "<tr>";
                tag1 += "<th scope='col'>No.</th>";
                tag1 += "<th scope='col'>Item Name</th>";
                tag1 += "<th scope='col'>Preferable Area</th>";
                tag1 += "<th scope='col'>Quantity</th>";
                tag1 += "<th scope='col'>Contact</th>";
                tag1 += "<th scope='col'>Last Date of Donation</th>";
                tag1 += "<th scope='col'>Status</th>";
                tag1 += "<th colspan='2' class='text-center'> <span style='margin-left: -55px;''>Action</span> </th>"; 
                tag1 += "</tr>";
                tag1 += "</thead>";

                let size = myObj.content.length;

                for (i = 0; i < size; i++) {
                    tag1 += "<tr>";

                    tag1 += "<td>";
                    tag1 += i + 1;
                    tag1 += "</td>";

                    tag1 += "<td>";
                    tag1 += JSON.parse(JSON.stringify(myObj.content[i].title));
                    tag1 += "</td>";

                    tag1 += "<td>";
                    tag1 += JSON.parse(JSON.stringify(myObj.content[i].area));
                    tag1 += "</td>";

                    tag1 += "<td>";
                    tag1 += JSON.parse(JSON.stringify(myObj.content[i].quantity));
                    tag1 += "</td>";

                    tag1 += "<td>";
                    tag1 += JSON.parse(JSON.stringify(myObj.content[i].contact));
                    tag1 += "</td>";

                    let options = { year: 'numeric', month: 'long', day: 'numeric' };
                    let today  = new Date(JSON.stringify(myObj.content[i].end_date));

                    tag1 += "<td>";
                    tag1 += today.toLocaleDateString("en-US", options);
                    tag1 += "</td>";

                    tag1 += "<td>";
                    tag1 += JSON.parse(JSON.stringify(myObj.content[i].status));
                    tag1 += "</td>";

                    tag1 += "<td>";
                    tag1 += "<a href='#' onclick='submit_edit( + " + JSON.stringify(myObj.content[i].id) + ")' data-target='#mymodel'  data-toggle='modal' class='btn btn-success btn-sm'>Edit</a>";
                    tag1 += "</td>";

                    tag1 += "<td>";
                    tag1 += "<a onclick='submit_delete( + " + JSON.stringify(myObj.content[i].id) + ")' class='btn btn-danger btn-sm delete'>Delete</a>";
                    tag1 += "</td>";

                    tag1 += "</tr>";
                }
                tag1 += "</table></div>";
                doc.innerHTML = tag1;
        })
    };

    document.addEventListener("DOMContentLoaded", function() {
        getData();
    });

    function submit_delete(id) {
        fetch('http://127.0.0.1:8000/api/customer_delete_specific_donate_post/' + id)
        .then(response => response.json()).then(myObj => {
            alert("Item has been deleted successfully!");
            getData();
        })
    };

    function submit_edit(id) {
        const form = document.getElementById("content_form");
        let form_id = document.querySelector("#form_id");
        let title = document.querySelector("#title");
        let description = document.querySelector("#description");
        let end_date = document.querySelector("#end_date");
        let quantity = document.querySelector("#quantity");
        let area = document.querySelector("#area");
        let contact = document.querySelector("#contact");
        
        fetch('http://127.0.0.1:8000/api/customer_specific_donate_post/' + id)
        .then(response => response.json()).then(myObj => {
            form_id.value = JSON.parse(JSON.stringify(myObj['content'][0]['id']));

            let value = JSON.parse(JSON.stringify(myObj['content'][0]['title']));
            title.value = value;

            value = JSON.parse(JSON.stringify(myObj['content'][0]['description']));
            description.value = value;

            value = JSON.parse(JSON.stringify(myObj['content'][0]['end_date']));
            end_date.value = value;

            value = JSON.parse(JSON.stringify(myObj['content'][0]['quantity']));
            quantity.value = value;

            value = JSON.parse(JSON.stringify(myObj['content'][0]['area']));
            area.value = value;

            value = JSON.parse(JSON.stringify(myObj['content'][0]['contact']));
            contact.value = value;
        })
   } 

   function submitForm(form) {
    let form_id = document.querySelector("#form_id").value;
    let title = document.querySelector("#title").value;
    let description = document.querySelector("#description").value;
    let end_date = document.querySelector("#end_date").value;
    let quantity = document.querySelector("#quantity").value;
    let area = document.querySelector("#area").value;
    let contact = document.querySelector("#contact").value;

    // form.submit();
    console.log(form_id, title)

    fetch('http://127.0.0.1:8000/customer_edit_s_donate_post?id=' + form_id + '&title=' + title + '&description=' + description + '&quantity=' + quantity + '&area=' + area + '&contact=' + contact + '&end_date=' + end_date)
    .then(response => response.json()).then(myObj => {
        alert("Item has been Edited successfully!");
        getData();
    })

}

</script>