{% include 'customers/customer_header.html' %}
{% load static %}



<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,700">

<link rel="stylesheet" href="{% static 'customers/css/style.default.css' %}">



<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>





<div id="all">
    <div id="content">
      <div class="container">
        <div class="row">
          <div id="checkout" class="col-lg-9">
            <div class="box">
              <form method="POST" action="{% url 'customers:customer_payment_method' %}">
                {% csrf_token %}
                <h1>Checkout - Address</h1>
                <div class="nav flex-column flex-md-row nav-pills text-center">
                    <a href="checkout1.html" class="nav-link flex-sm-fill text-sm-center active"> 
                        <i class="fa fa-map-marker">                  </i>Address
                    </a>
                    <a href="#" class="nav-link flex-sm-fill text-sm-center disabled">
                        <i class="fa-solid fa-money-bill-1"></i>Payment Method
                    </a>
                    <a href="#" class="nav-link flex-sm-fill text-sm-center disabled"> 
                        <i class="fa fa-eye"></i>Order Review</a>
                    </div>
                <div class="content py-3">
                  {% for i in customer %}
                  
                    <div class="row py-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                    <label for="firstname">Firstname</label>
                                    <input id="firstname" type="text" value="{{ i.user.first_name }}" class="form-control">
                            </div>
                        </div>

                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="lastname">Lastname</label>
                                <input id="lastname" type="text" value="{{ i.user.last_name }}"  class="form-control">
                            </div>
                        </div>
                    </div>
                  <!-- /.row-->
                    <div class="row py-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="address">Address</label>
                                <input name="address" value="{{ i.address }}" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="Area">Area</label>
                                <input name="area" type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                  <!-- /.row-->
                    
                    <div class="row py-2">
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="phone">Phone Number</label>
                                <input id="phone" value="{{ i.contact_no }}" type="text" class="form-control">
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-group">
                                <label for="email">Email</label>
                                <input name="email" value="{{ i.user.username }}" disabled type="text" class="form-control">
                            </div>
                        </div>
                    </div>
                  <!-- /.row-->
                </div>
                <div class="box-footer d-flex justify-content-between"><a href="basket.html" class="btn btn-outline-secondary"><i class="fa-solid fa-circle-left"></i> Back to Basket</a>
                  <button type="submit" class="btn btn-primary">Continue to Delivery Method <i class="fa-solid fa-circle-right"></i></button>
                </div>
              </form>
            </div>
            {% endfor %}
            <!-- /.box-->
          </div>
          <!-- /.col-lg-9-->
          <div class="col-lg-3">
            <div id="order-summary" class="card">
              <div class="card-header">
                <h3 class="mt-4 mb-4">Order summary</h3>
              </div>
              <div class="card-body">
                <p class="text-muted">Shipping and additional costs are calculated based on the values you have entered.</p>
                <div class="table-responsive">
                  <table class="table">
                    <tbody>
                      <tr>
                        <td>Order subtotal</td>
                        <th>$446.00</th>
                      </tr>
                      <tr>
                        <td>Shipping and handling</td>
                        <th>$10.00</th>
                      </tr>
                      <tr>
                        <td>Tax</td>
                        <th>$0.00</th>
                      </tr>
                      <tr class="total">
                        <td>Total</td>
                        <th>$456.00</th>
                      </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.col-lg-3-->
        </div>
      </div>
    </div>
  </div>


{% include 'customers/customer_footer.html' %}
