{% include 'customers/customer_header.html' %}
{% load static %}



<style>
    .title {
        margin-bottom: 5vh
    }

    .card {
        margin: auto;
        max-width: 950px;
        width: 90%;
        box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 1rem;
        border: transparent
    }

    @media(max-width:767px) {
        .card {
            margin: 3vh auto
        }
    }

    .cart {
        background-color: #fff;
        padding: 4vh 5vh;
    }

    @media(max-width:767px) {
        .cart {
            padding: 4vh;
            border-bottom-left-radius: unset;
        }
    }

    .summary {
        background-color: #ddd;
        padding: 4vh;
        color: rgb(65, 65, 65)
    }

    @media(max-width:767px) {
        .summary {
            border-top-right-radius: unset;
        }
    }

    .summary .col-2 {
        padding: 0
    }

    .summary .col-10 {
        padding: 0
    }

    .row {
        margin: 0
    }

    .title b {
        font-size: 1.5rem
    }

    .main {
        margin: 0;
        padding: 2vh 0;
        width: 100%
    }

    .col-2,
    .col {
        padding: 0 1vh
    }

    a {
        padding: 0 1vh
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem
    }

    img {
        width: 3.5rem
    }

    .back-to-shop {
        margin-top: 4.5rem
    }

    h5 {
        margin-top: 4vh
    }

    hr {
        margin-top: 1.25rem
    }

    form {
        padding: 2vh 0
    }

    select {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1.5vh 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    input {
        border: 1px solid rgba(0, 0, 0, 0.137);
        padding: 1vh;
        margin-bottom: 4vh;
        outline: none;
        width: 100%;
        background-color: rgb(247, 247, 247)
    }

    input:focus::-webkit-input-placeholder {
        color: transparent
    }

    .link {
        color: black
    }

    link:hover {
        color: black;
        text-decoration: none
    }

    .close {
        margin-left: auto;
        font-size: 0.7rem
    }
</style>



<!-- Sweet Alert -->
<script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"
    integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>


{% if total_items == 0 %}
<div class="container">
    {% include 'customers/messages.html' %}
    <div class="row">
        <p>You haven't select any items yet.</p>
    </div>
</div>
{% endif %}


{% if total_items %}

<div class="container">
    <div class="row">
        <div class="col-md-8 cart">
            <div class="title">
                <div class="row">
                    <div class="col">
                        <h4 class="text-secondary"><b>Shopping Cart</b></h4>
                    </div>
                </div>
            </div>

            {% for i in cart_items %}

            <div class="row border-top border-bottom">
                <div class="row main align-items-center">
                    <div class="col-2"><img class="img-fluid" src="{{ i.post.image.url }}"></div>
                    <div class="col">
                        <div class="row text-muted">{{ i.post.title }}</div>
                        <div class="row">{{ i.restaurant.name }}</div>
                        
                    </div>
                    <div class="col">
                        {% if i.quantity <= 1 %}
                        <a style="cursor: default;" href="javascript:void(0)">-</a>
                        {% else %}
                        <a href="{% url 'customers:item_decrease' i.id %}">-</a>
                        {% endif %}
                            
                        <span style="padding: 0px 5px 0px 5px;" class="border">{{ i.quantity }}
                        </span>
                        <a href="{% url 'customers:item_increase' i.id %}">+</a> 
                    </div>

                    <div class="col">
                        &#2547; {{ i.post.new_price }}
                        <span class="close">&#10005; {{ i.quantity }}</span>
                    </div>
                    <div class="col">
                        <a href="{% url 'customers:customer_delete_cart_item' i.id %}" class="delete"><i
                                class="fa fa-trash text-secondary"></i></a>
                    </div>
                </div>
            </div>
            {% endfor %}


            <div class="back-to-shop">
                <a href="{% url 'customers:customer_all_post' %}">&leftarrow;</a>
                <span class="text-muted">Back to shop</span>
            </div>
        </div>
        <div class="col-md-4 summary" style="height: 710px;">
            <div>
                <h5 class="text-secondary"><b>Instuctions</b></h5>
                <hr>
                <ul class="text-secondary">
                    <li>Please Send This money through bkash.</li>
                    <li>Bkash No: 01759081828</li>
                </ul>
            </div>


            <div>
                <h5 class="text-secondary"><b>Summary</b></h5>
            </div>
            <hr>
            <div class="row">
                <div class="col" style="padding-left:0;">
                    <span class="text-secondary">Items {{ total_items }} </span>
                </div>

                <div class="col text-right">
                    <span class="text-secondary"> &#2547; {{ price }}</span>
                </div>
            </div>

            <form method="POST">
                {% csrf_token %}
                <p class="text-secondary">Shipping</p>
                <select class="text-secondary">
                    <option class="text-mutted"> Standard-Delivery- &#2547;40.00</option>
                </select>

                <p class="text-secondary">Bkash TrxID</p>
                <input id="code" required name="trxid" class="text-secondary" placeholder="Enter TrxID here...">
                <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
                    <div class="col">
                        <span class="text-secondary">TOTAL PRICE</span>
                    </div>

                    <div class="col text-right">
                        <span class="text-secondary">&#2547; {{ total_price }}</span>
                    </div>
                </div>
                <button class="btn btn-secondary">Checkout</button>
            </form>
        </div>
    </div>
</div>

{% endif %}





{% include 'customers/customer_footer.html' %}



<script>
    $(".delete").click(function (e) {
        console.log("Pressed");
        var self = $(this);
        e.preventDefault();
        swal({
                title: "Are you sure?",
                text: "Delete this item from cart?",
                icon: "warning",
                buttons: true,
                dangerMode: true,
            })
            .then((willDelete) => {
                if (willDelete) {
                    swal("Your post has been deleted successfully", {
                        icon: "success",
                    }).then((value) => {
                        location.href = self.attr('href');
                    });
                }
            });
    });
</script>