{% include 'customers/restaurants_header.html' %}
{% load static %}


<section>
    <div class="container">
        <div class="row d-flex justify-content-center align-items-center">
            <div class="form-group col-6">
                {% include 'customers/messages.html' %}
                <div class="card card-registration" style="border-radius: 5px;">
                    <div class="card-body p-4 text-center">
                        <form name="signup" action="" method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <h3>Add a new Post</h3>
                            <div class="form-outline mb-4">
                                <input type="text" name="post_title" class="form-control" placeholder="Item Name"
                                    required />
                            </div>

                            
                            <div class="form-outline mb-4">
                                <input type="text" name="post_location" class="form-control" placeholder="Location"
                                    value="{{ location }}" required />
                            </div>

                            <!-- <div class="form-group mb-4">
                                <textarea class="form-control" name="description" placeholder="Description....."
                                    rows="3"></textarea>
                            </div> -->



                            <div class="form-outline mb-4">
                                <input type="text" name="prev_price" class="form-control" placeholder="Previous Price"
                                    required />
                            </div>

                            <div class="form-outline mb-4">
                                <input type="text" name="new_price" class="form-control" placeholder="New Price"
                                    required />
                            </div>

                            <div class="form-row">
                                <div class="from-group col-md-3">
                                    <p class="text-left">Category</p>
                                </div>
                                <div class="form-group col-md-9">
                                    <div class="dropdown">
                                        <select name="category" required class="btn dropdown-toggle"
                                            style="border: 1px solid lightgray; padding-right: 198px;">
                                            <option class="dropdown-item" style="display:none" value="">Choose an option</option>

                                            {% for i in category %}
                                            <option class="dropdown-item text-left" value="{{ i }}">{{ i }}</option>
                                            {% endfor %}
                                        </select>
                                    </div>
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <p class="text-left">Start Date</p>
                                </div>

                                <div class="form-group col-md-9">
                                    <input type="date" name="start_date" class="form-control" required />
                                </div>
                            </div>

                            <div class="form-row">
                                <div class="form-group col-md-3">
                                    <p class="text-left">End Date</p>
                                </div>

                                <div class="form-group col-md-9">
                                    <input type="date" name="end_date" class="form-control" required />
                                </div>
                            </div>


                            <div class="form-row">
                                <div class="form-group col-md-2">
                                    <p class="text-left">Image</p>
                                </div>

                                <div class="form-group col-md-9" style="margin-left: 25px;">
                                    <input type="file" name="image" required />
                                </div>
                            </div>

                            <button class="btn btn-primary" style="width: 200px;" type="submit">Add Post</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>




{% include 'customers/restaurants_footer.html' %}



{% if error == 'no' %}
<script>
    alert('Add Post Successfully!');
    window.location = ('{% url "customers:restaurants_food_posts" %}')
</script>
{% endif %}

{% if error == 'yes' %}
<script>
    alert('Something went wrong! Try again....');
</script>
{% endif %}